.navigation_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #b7f497;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.navigation_list li {
  display: inline-block;
  margin-right: 10px;
}

.navigation_list li a {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 15px;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navigation_list li a:hover {
  background-color: #92cc74;
  color: #fff;
}

.navigation_list li a.active {
  background-color: #386a20;
  color: #fff;
}
