.popup {
  display: flex;
  justify-content: center;
  margin-left: 610px;
  margin-top: 10px;
  width: 300px;
  height: 300px;
}

.popup-content .popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
}

.popup-content .popup-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #386a20;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup-content .popup-buttons button:hover {
  background-color: #4d8c2b;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
}

.popup-buttons button {
  padding: 10px 20px;
}

.popup-content textarea,
.popup-content select {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
}

.popup-content select {
  margin-bottom: 4px;
}

.popup-content textarea {
  width: 500px;
  height: 30px;
  resize: none;
}

.popup-content textarea,
.popup-content select {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
}

.popup-content textarea:focus,
.popup-content select:focus {
  outline: none;
  border-color: #386a20;
  box-shadow: 0 0 5px rgba(56, 106, 32, 0.5);
}

.popup-content textarea {
  height: 75px;
}

.new-card-textarea-answer {
  margin-top: 10px;
}
